/*Downloaded from https://www.codeseek.co/suez/skewed-one-page-scroll-gadLre */
*, *:before, *:after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
 background: #ffffff;
 font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.skw-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.skw-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.skw-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.skw-page__half--left {
  left: 0;
  -webkit-transform: translate3d(-32.4vh, 100%, 0);
          transform: translate3d(-32.4vh, 100%, 0);
}
.skw-page__half--right {
  left: 50%;
  -webkit-transform: translate3d(32.4vh, -100%, 0);
          transform: translate3d(32.4vh, -100%, 0);
}
.skw-page.active .skw-page__half {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.skw-page__skewed {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 140%;
  height: 100%;
  -webkit-transform: skewX(-18deg);
          transform: skewX(-18deg);
  background: #000;
}
.skw-page__half--left .skw-page__skewed {
  left: -40%;
}
.skw-page__half--right .skw-page__skewed {
  right: -40%;
}
.skw-page__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 30%;
  color: #fff;
  -webkit-transform: skewX(18deg);
          transform: skewX(18deg);
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  background-size: cover;
}
.skw-page__half--left .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.skw-page__half--right .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.skw-page.inactive .skw-page__content {
  opacity: 0.5;
  -webkit-transform: skewX(18deg) scale(0.95);
          transform: skewX(18deg) scale(0.95);
}
.skw-page__heading {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}
.skw-page__description {
  font-size: 18px;
  text-align: center;
}
.skw-page__link {
  color: #FFA0A0;
}
.skw-page-1 .skw-page__half--left .skw-page__content {
 background-image: url("../assets/Sonabags.jpg");
}
.skw-page-1 .skw-page__half--right .skw-page__content {
  background: linear-gradient(-135deg, #FF9A00,   #FF9A00, #FF0000);
}
.skw-page-2 .skw-page__half--left .skw-page__content {
  background: linear-gradient(135deg, #FF9A00,   #FF9A00, #FF0000);
}
.skw-page-2 .skw-page__half--right .skw-page__content {
 background-image: url("../assets//Desktop-ModelX.jpeg");
}
.skw-page-3 .skw-page__half--left .skw-page__content {
 background-image: url("../assets/Desktop-ModelS.jpeg");
}
.skw-page-3 .skw-page__half--right .skw-page__content {
  background: linear-gradient(-135deg, #FF9A00,   #FF9A00, #FF0000);
}
.skw-page-4 .skw-page__half--left .skw-page__content {
  background: linear-gradient(135deg, #FF9A00,   #FF9A00, #FF0000);
}
.skw-page-4 .skw-page__half--right .skw-page__content {
 background-image: url("../assets/Desktop-ModelY.jpeg");
}
.skw-page-5 .skw-page__half--left .skw-page__content {
 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/img-test.jpg");
}
.skw-page-5 .skw-page__half--right .skw-page__content {
  background: linear-gradient(-135deg, #FF9A00,   #FF9A00, #FF0000);
}



















.mobile__screen{
  display:none;
  
}



.colour-block {
  background:#FF9A00;
  width:100%;
  padding:7% 20% 10% 20%;
  color:#fff;
  border-style: none!important;
}
.white-block {
  background:#fff;
  width:100%;
  padding:7% 20% 10% 20%;
  color:#FF9A00;
  border-style: none!important;
}
h1 {
  text-align:center;
  font-size:80px;
  font-family:'wire one', serif;
  font-weight:normal;
}
p {
  font-size:20px;
  font-family:'Raleway', serif;
}


/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to right bottom, #FF9A00 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
  border-style: none!important;
}


/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, #fff 49%, #FF9A00 50%);
  border-style: none!important;
}




























@media(max-width: 550px){
.pc__screen{
  display:none;
}

.mobile__screen{
  display: block;
}

}

