@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.hidden__button {
  background: transparent;
  border: none !important;
  font-size: 0;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  right: 30px;
  top: 25px;
  width: 25px;
  height: 25px;
  float: right;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*    
    Sidebar wrapper styles    
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases 
    */
.bm-menu-wrap {
  position: fixed;
  height: 100vh;
}

/* General sidebar styles */
.bm-menu {
  background: #ff0000;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  opacity: 98%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #d0d0d0;
}

/* Wrapper for item list */
.bm-item-list {
  color: #d0d0d0;
  padding: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  outline: none important;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #f6f6f6;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  outline: none important;
  font-family: "Unica One", cursive;
  font-size: 1.5rem;
}

.bm-item:hover {
  color: #ffbf00;
}

.bm-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffbf00;
  transition: width 0.3s;
}

.bm-item:hover::after {
  width: 52%;
  transition: width 0.3s;
}
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.image {
  justify-content: center;
  align-self: center;
  margin-top: auto;
  margin-left: 1rem;
}

a {
  outline: none;
}

.image > img {
  max-width: 200px;
  max-height: 200px;
}

@media (min-width: 1024px) {
  #sidebar{
    display: none;
  }
  .burger{
    display: none;
  }
}
